.button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;

  color: white;
  font-size: 1rem;

  transition: all .4s ease;
}

.button-outlined {
  background-color: white;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;

  color: var(--color-primary);
  font-size: 1rem;

  transition: all .4s ease;
}

.button:hover,
.button-outlined:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  color: white;
}