/* font: poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* presets */
body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  font-family: 'Poppins';
  font-size: 1rem;
}

/* colors */
:root {
  --color-primary: #f95d01;
  --color-secondary: #ce4c00;

  --color-alert-error: #8c0000;
  --color-alert-success: #158c00;
  --color-alert-warning: #f95d01;
  --color-alert-info: #0c008c;
}