.container {
  background-color: white;
  border: 2px solid red;
  width: 400px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  font-weight: 500;
  font-size: .9rem;

  position: absolute;
  z-index: 9;
  right: 0px;
  top: 20px;

  animation: .75s linear 0s 1 both running anim-container;
  transition: all .4s ease;
}

@keyframes anim-container {
  from {
    right: -400px;
    opacity: 0;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.icon {
  font-size: 1.3rem;
  margin-right: 10px;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 4px;

  animation: 3s linear .75s 1 both running anim-progress-bar;
  transition: all .4s ease;
}

@keyframes anim-progress-bar {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}