.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: black;
  color: white;
}

.title {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 12rem;
  line-height: 8rem;
  font-weight: 900;
}

.paragraph {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
}

.paragraph span {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.button {
  outline: none;
  background-color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px 60px;
  margin-top: 10px;

  font-weight: 400;
  color: black;

  transition: all .4s ease;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: transparent;
  letter-spacing: 1.5px;
}